.bgimage1 {
    background-color: blueviolet;
    /* background: transparent */


}



.gap1 {
    gap: 10px;
    color: aliceblue;

}

.techie {
    color: white;
    font: bold;
    font-size: 45px;
}

.btn1 {
    border-color: white;
    background: transparent;
    border-radius: 5px;
    font-size: larger;
    color: aliceblue;

}

.cardss {
    background-color: blueviolet;
    padding-top: 100px;
    display: flex;
    justify-content: center
}

.card {
    color: white;
    /* background-color: blueviolet; */
    background: transparent;
}

.card-body {
    padding-top: 100px;
    display: block;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

.btn2{
    border-color: blue;
    background: transparent;
    border-radius: 5px;
    font-size: larger;
    color: blue;
    

}

.image3 {
    height: 500px;
}

.card-body1 {
    /* padding-top: 30px; */
    justify-content: center;
    font-weight: bold;
    font-size: 20px;

}

.image2 {
    height: 600px;
}

.number1 {
    padding-top: 30px;
    margin-left: 150px;
    color: white;
    row-gap: 100px;

}

.backcolor1 {
    background-color: blueviolet;
    padding-top: 100px;
    padding-bottom: 100px;
}

.hr1 {
    width: 70px;
    margin-left: 600px
}

.text1{
    margin-left: 570px;
}

.pera1{
    margin-left: 350px;
}

.card3{
    padding-top: 10px;
    font-size: 50px;
    color: blue;
    z-index: 2;
    position: relative;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 30px;
}


.text2{
    font-size: 12px;
    padding-top: 30px;
}

.heda1{
    font-size: 30px;
}

.hr2 {
    /* padding-top: 30px; */
    justify-content: center;
    width: 70px;
    margin-left: 600px
    
    
}

.text3{
    justify-content: center;
}

.cardtitle1{
    font-size: 25px;
    font-weight: bold;
}

.pera2{
    font-size: 15px;
    font-weight: lighter;
    margin-left: 10px;
    padding-left: 45px;
    padding-top: 0%;
}

.icon1{
    font-size: 50px;
    padding-top: 10px;
}

.div1{

    display: flex;
    justify-content: center;

    
}

.ul1{
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 30px;
    color: black;
    padding-top: 30px;
    font-weight: bold;
}

.card-title4{
    color: black;
    padding-left: 15px;
    padding-top: 30px;
    font-style: italic;
}

.card-text4{
    color: black;
    padding-left: 15px;
}

.text5{
    display: flex;
    justify-content: center;
}

.icon4{
    font-size: 50px;
   
    padding-right: 20px;
    padding-top: 20px;
    color: blue;
}

.text4{
    font-size: 25px;
    padding-top: 50px;
    /* row-gap: 100px; */
}

.pera4{

    font-size: 15px;
}

.text5{
    padding-top: 50px;
}

.sec1{
    font-size: 20px;
}

.pera7{
    font-size: 30px;
    font-style: italic;
    padding-top: px;
}

.text7{
    font-style: italic;
    padding-top: 10px;
}

.icon3{
    font-size: 25px;
}

.icon2{
    font-size: 25px;
}

.btn4{
    font-size: 20px;
    color: blue;
    border-radius: 10px;
    border-color: blue;
}


.bg-color1{
    background-color: lightblue;
    gap: 100px;
    padding-top: 30px;

}


.bg-color2{
    background-color: white;
    gap: 100px;
}


.text8{
    padding-left: 100px;
    padding-top: 100px;
}


.sec1 {
    border: 2px solid black;
}

.card-title5{
    color: black;
    justify-content: center;
    padding-left: 80px;
}

.card-text5{
    color: black;
    justify-content: center;

}


#icon{
    font-size: 30px;
    color: blue;
}


.footer1{
    background-color: blueviolet;
    color: white;
}

